@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,700&family=Roboto+Mono:wght@100&family=Roboto:wght@100&display=swap');

body{
    font-family: 'Open Sans', sans-serif;
}

:root{
    --md-dark-color: #1d1d1d;
    --dark-color: #171717;
    --light-dark-color: #292929;
    --yellow-color: #11d452;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
.wrapper{
    min-height: 100vh;
    background-color: var(--dark-color);
}
.wrapper .containerr{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}
.logo{
    padding: 0rem 0;
    border-bottom: 1px solid var(--light-dark-color);
}
.logo p{
    display: flex;
    position: absolute;
    top: 18px;
    left: 278px;
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}
.logo p span{
    color: var(--yellow-color);
}

.createe{
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 28px;
    line-height: 1.2;
    left: 40%;
    top: 150px;

}

.name{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    left: 40%;
    top: 223px;

}
.inputname{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    color: #fff;
    left: 40%;
    top: 248px;
    font-size: 23px;
}
.inputname input{
    height: 36px;
    width: 350px;
    border-radius: 6px;
}

.email{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    left: 40%;
    top: 326px;

}
.inputemail{
    display: flex;
    /* align-items: center;
    justify-content: center; */
    position: absolute;
    color: #fff;
    left: 40%;
    top: 350px;
    font-size: 23px;
}
.inputemail input{
    height: 36px;
    width: 350px;
    border-radius: 6px;
}

.pass{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    left: 40%;
    top: 436px;
}

.passinput{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    left: 40%;
    top: 462px;
    font-size: 23px;
}
.passinput input{
    height: 36px;
    width: 350px;
    border-radius: 6px;
}

.repass{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    left: 40%;
    top: 543px;
}

.repassinput{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    left: 40%;
    top: 570px;
    font-size: 23px;
}
.repassinput input{
    height: 36px;
    width: 350px;
    border-radius: 6px;
}

.signupbutton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    left: 40%;
    top: 650px;
    /* border: 1px solid black; */
    height: 36px;
    width: 360px;
    border-radius: 6px;
    background-color: #11d452;
}

.already{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    left: 40%;
    top: 718px;
}
.create{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 22px;
    line-height: 1.2;
    left: 56%;
    top: 718px;
}